{% extends "layout_erie.html" %}

{% block scripts %}

    {% load staticfiles %}

	<script src="{% static 'Buoy_tool/scripts/homePage_erie.js' %}"></script>
    <script src="{% static 'Buoy_tool/scripts/buoy.map.js' %}"></script>
    

{% endblock %}

{% block staticHeader %}
    
    <div id="staticHeader">
        <p id="stationID" class="w3-center">Lake Erie Water Quality Stations</p>
    </div>

{% endblock %}

{% block content %}

        <section id="main" class="w3-container" style="margin-top:100px">
						<div id="bannerNews"></div>
            <style type="text/css">
                div#map_canvas {
                    margin: 0 auto 0 auto;
                }
            </style>
            
            <!--Google map-->
            <div id="map_canvas" class="w3-card-4 map" style="width:100%;max-width:550px;height:400px;">
                <!--<script src="https://maps.googleapis.com/maps/api/js?key=EnterGoogleMapsAPI"></script>-->
            </div>

            <!-- OpenLayers map -->
            <div id="map-container" class="w3-card-4 map">
				<div id="map" class="map">
                    <div id="popup" class="ol-popup">
                        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                        <div id="popup-content"></div>
                    </div>
				</div>
            </div>

            <div class="w3-center">
                <br>
                <form>
                    <label> <input type="checkbox" name="cbCI" id="cbCI"> Show recent (10/22/17) NOAA cyanobacterial index image (Experimental)</label>
                </form>
            </div>

            <h5 class="glosBlue w3-center w3-margin-top w3-padding-16">Recent Buoy Observations</h5>

            <div class="w3-responsive">
                <table id="buoySummary" class="w3-table w3-border w3-bordered w3-hoverable w3-card-4" style="max-width:550px;" align="center" cellspacing="0">
										<thead>			
                    </thead>
										<tbody>		
										</tbody>
                </table>
            </div>
					<div class="w3-center">
						<div id = "aboutBuoyPortal">
							<h5></h5>
							<p class="w3-container" style="text-align:left;max-width:550px;margin:auto"></p>
						</div>
					</div>
        </section>
				
        <footer class="w3-container w3-center">
					<p></p>
        </footer>

{% endblock %}